@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
    ViewData["mesajHome"] = "BİZİ SAHİPLENİN." +"/n"+
                            "YARDIMINIZA İHTİYACIMIZ VAR.";
}
    <div class="row hero-image">
        <div class="col-md-12 text-white col-lg-8 " style="font-family:Georgia, 'Times New Roman', Times, serif">

            <br /><br />
            <h1>@localizer["mesajHome1"]</h1>
            <h1>@localizer["mesajHome2"]</h1>

            <a class="btn-link text-dark" style="background-color:white" asp-area="" asp-controller="Home" asp-action="Privacy">@localizer["adoptAnimal"]</a>


        </div>
    </div>