@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-md-12 text-white col-lg-8 " style="font-family:Georgia, 'Times New Roman', Times, serif">

            <br /><br />
            <h1>BİZİ SAHİPLENİN.</h1>
            <h1>YARDIMINIZA İHTİYACIMIZ VAR.</h1>
            <h3>...</h3>

            <a class="btn-link text-dark" style="background-color:white" asp-area="" asp-controller="Home" asp-action="Privacy">SAHİPLENECEK HAYVAN BUL</a>


        </div>
    </div>