@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 resim">
            <!--BU DİV HAKKIMDA KISMI İÇİN-->
            <p style="text-align:center">
                şsdfrghjgfdssehir Anadolu Lisesi’ni kazandım ve 3 sene orada okudum. Bir çok açıdan çok donanımlı bir liseydi. Açıksası bana sporu
                sevdiren lisemdi. Voleybol, basketbol, badminton ve hentbol oynamayı orada öğrettiler. Tabi hepsini beceremedim ve bazılarını da sevemedim. En çok
                sevdiğim ise voleyboldu. Voleybol oynamayı çok seviyorum. Lise son sınıfta sınava hazırlanmak amaçlı temel liseye geçtim. Böyle sosyal bir ortamdan
                soyutlanmak zorunda kaldım. Emeklerim sonucu pek istediğim bir yer olmamasına Sakarya Üniversite'si bilgisayar mühendisliği bölümünü kazandım. Ailemden
                ilk defa ayrı kaldım. İlk senemde ingilizce hazırlık okudum. Şu an kendi bölümümdeyim ve 1. sınıfım. Pek yazılımla alakam olmadan geldim bölüme. Bu yüzden
                ilk dönem çok zorlandım. Öğrendikten yapabildikten sonra kodlamak çok eğlenceli gelmeye başladı ve kod yazmayı çok seviyorum artık. Dersler sayesinde çok
                boş zamanım kalmasa da kalan vakitlerimde yabancı dizi ve film izlemeyi,müzik dinlemeyi ve kitap okumayı çok seviyorum. Kişisel gelişim ve edebi kitaplara
                karşı ilgim de oldukça fazla.
            </p>
        </div>
        <div class="col-md-8 yaziBilgi" >
            <!--BU DİV HAKKIMDA KISMI İÇİN-->
            <p align="center">
                6 Şubat 1999'da İstanbul'un Kartal ilçesinde 5 kişilik bir ailenin en küçük çocuğu olarak dünyaya geldim. İlkokul ve ortaokulu
                Maltepe'de okudum. Sonra Ataşehir Anadolu Lisesi’ni kazandım ve 3 sene orada okudum. Bir çok açıdan çok donanımlı bir liseydi. Açıksası bana sporu
                sevdiren lisemdi. Voleybol, basketbol, badminton ve hentbol oynamayı orada öğrettiler. Tabi hepsini beceremedim ve bazılarını da sevemedim. En çok
                sevdiğim ise voleyboldu. Voleybol oynamayı çok seviyorum. Lise son sınıfta sınava hazırlanmak amaçlı temel liseye geçtim. Böyle sosyal bir ortamdan
                soyutlanmak zorunda kaldım. Emeklerim sonucu pek istediğim bir yer olmamasına Sakarya Üniversite'si bilgisayar mühendisliği bölümünü kazandım. Ailemden
                ilk defa ayrı kaldım. İlk senemde ingilizce hazırlık okudum. Şu an kendi bölümümdeyim ve 1. sınıfım. Pek yazılımla alakam olmadan geldim bölüme. Bu yüzden
                ilk dönem çok zorlandım. Öğrendikten yapabildikten sonra kodlamak çok eğlenceli gelmeye başladı ve kod yazmayı çok seviyorum artık. Dersler sayesinde çok
                boş zamanım kalmasa da kalan vakitlerimde yabancı dizi ve film izlemeyi,müzik dinlemeyi ve kitap okumayı çok seviyorum. Kişisel gelişim ve edebi kitaplara
                karşı ilgim de oldukça fazla.
            </p>
        </div>
    </div>