@model IEnumerable<WebProje.Models.Ilanlar>

@{
    ViewData["Title"] = "Index";
}
    <div class="container">
        <div class="row">
            <div class="col-md-4 resim">
                sdfghjkjhgfds
            </div>
            <div class="align-content-end">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <div class="list-group">
                    @foreach (var item in Model) {
                       <a href="">
                           <div ></div>
                           <div>
                               @Html.DisplayNameFor(model => model.ilanNo)
                               <br />
                               @Html.DisplayNameFor(model => model.hayvanId)
                               <br />
                               @Html.DisplayNameFor(model => model.ilanTarihi)
                               <br />
                           </div>
                       </a>
                    }

                </div>
              
            </div>
        </div>
    </div>
       
