@model WebProje.Models.Ilanlar
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Düzenle";
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }

    }
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ilanID" />
            <div class="form-group">
                <label asp-for="ilanNo" class="control-label"></label>
                <input asp-for="ilanNo" class="form-control" />
                <span asp-validation-for="ilanNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hayvanId" class="control-label"></label>
                <select asp-for="hayvanId" class="form-control" asp-items="ViewBag.hayvanId"></select>
                <span asp-validation-for="hayvanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resimDosyasi" class="control-label"></label>
                <input asp-for="resimDosyasi" accept="image/*" />
                <span asp-validation-for="resimDosyasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilanTarihi" class="control-label"></label>
                <input asp-for="ilanTarihi" class="form-control" />
                <span asp-validation-for="ilanTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@localizer["geriDon"]</a>
</div>

